$small-width: 320px;
$middle-width: 640px;
$large-width: 1280px;

$tab-control-height: 40px;
$tab-control-margin: 5px;

$tab-rider-padding: 5px;
$tab-rider-height: $tab-control-height - $tab-control-margin - 2 * $tab-rider-padding;

$tab-counter: 3;

* {
    font-family: 'Open Sans', sans-serif;
}

html, body {
    height: 100%;
    background-color: rgba(92, 197, 124, 1);
}

.tab-container {
    width: $small-width;
    margin-left: auto;
    margin-right: auto;
    .tab-control {
        width: $small-width;
        height: $tab-control-height;
        .tab-rider {
            display: inline-block;
            width: ($small-width - ($tab-counter + 1) * $tab-control-margin) / $tab-counter - 2 * $tab-rider-padding;
            height: $tab-rider-height;
            margin-top: $tab-control-margin;
            &:not(:first-child) {
                margin-left: $tab-control-margin;
            }
            &:not(:last-child) {
                margin-right: $tab-control-margin;
            }
            padding: $tab-rider-padding;
            background-color: #d8d8d8;
            cursor: pointer;
            border-top-left-radius: $tab-control-margin;
            border-top-right-radius: $tab-control-margin;
            text-align: center;
            font-size: $tab-rider-height - 4px;
            &.tab-rider-active {
                background-color: #e8e8e8;
            }
        }
    }
    .tab {
        display: none;
        padding: 10px;
        background-color: #e8e8e8;
        border-bottom-left-radius: $tab-control-margin;
        border-bottom-right-radius: $tab-control-margin;
        &.tab-active {
            display: block;
        }
        h3 {
            margin: 5px 0px;
        }
        ul.todos-list {
            padding: 0px 20px 0px 20px;
            li {
                height: 26px;
                margin: 7px 0px 7px 0px;
                list-style: none;
                i.todo-item-control {
                    margin-right: 3px;
                    float: right;
                    cursor: pointer;
                    &:hover {
                        color: #999999;
                    }
                }
            }
        }
        form.create-todo {
            display: block;
            input[name=text] {
                width: 100%;
                height: 26px;
                box-sizing: border-box;
                border: none;
                padding: 2px;
                font-size: 18px;
                border-radius: $tab-control-margin;
                &:focus {
                    outline-width: 0;
                }
            }
        }
    }
}
